<label>EC2 specs:</label>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.aws.resource" value="ec2" checked>
            EC2
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.aws.resource" value="s3">
            S3
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.infrastructure" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>