body                            { padding-top:20px; background-image: url('/images/terraform_background.png');}

/* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px;
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }

#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#form-views             { width:auto; }
#form-views-vertical    { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* left and right added to ensure full width */
#form-views-vertical.ng-enter-vertical,
#form-views-vertical.ng-leave-vertical  { position:absolute; bottom:30px; top:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

/*/!* enter animation vertical*!/
#form-views-vertical.ng-leave-vertical    {
    -webkit-animation:slideInBottom 0.5s both ease;
    -moz-animation:slideInBottom 0.5s both ease;
    animation:slideInBottom 0.5s both ease;
}*/

/*/!* leave animation vertical*!/
#form-views-vertical.ng-enter-vertical    {
    -webkit-animation:slideOutTop 0.5s both ease;
    -moz-animation:slideOutTop 0.5s both ease;
    animation:slideOutTop 0.5s both ease;
}*/

/* home */
.form-views-vertical.ng-enter-vertical {
    -webkit-animation:slideInUp 0.5s both ease-in;
    -moz-animation:slideInUp 0.5s both ease-in;
    animation:slideInUp 0.5s both ease-in;
    z-index: 8888;

}

/* leave */
.form-views-vertical.ng-leave-vertical {
    -webkit-animation:slideDownOut 0.5s both ease-in;
    -moz-animation:slideDownOut 0.5s both ease-in;
    animation:slideDownOut 0.5s both ease-in;
    z-index: 9999;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

/*/!* slide out to the top *!/
@keyframes slideOutTop {
    to      { transform: translateY(-100%); }
}
@-moz-keyframes slideOutTop {
    to      { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes slideOutTop {
    to      { -webkit-transform: translateY(-100%); }
}

/!* slide in from the right *!/
@keyframes slideInBottom {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInBottom {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInBottom {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}*/

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); opacity: 1; }
    to      { transform: translateY(0); opacity: .5; }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); opacity: 1;}
    to      { -moz-transform: translateY(0); opacity: .5;}
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); opacity: 1;}
    to      { -webkit-transform: translateY(0); opacity: .5;}
}

/* --leaving animation--*/

/* slide in from the bottom */
@keyframes slideDownOut {
    from    { transform: translateX(0%); opacity: .5; }
    to      { transform: translateY(100%); opacity: 0;}
}
@-moz-keyframes slideDownOut {
    from    { -moz-transform: translateX(0%); opacity: .5; }
    to      { -moz-transform: translateY(100%); opacity: 0;}
}
@-webkit-keyframes slideDownOut {
    from    { -webkit-transform: translateX(0%); opacity: .5;}
    to      { -webkit-transform: translateY(100%); opacity: 0;}
}